<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <compilation debug="true"/>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <!--<serviceHostingEnvironment aspNetCompatibilityEnabled="true" >
      <serviceActivations>
        <add factory="System.ServiceModel.Activation.ServiceHostFactory"
        relativeAddress="./FlightSearchService.svc"
        service="SMServices.Wcf.FlightSearchCityTravel.FlightSearchService"/>
      </serviceActivations>
    </serviceHostingEnvironment>
    <services>
      <service name="SMServices.Wcf.FlightSearchCityTravel.FlightSearchService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:4403/FlightSearchService.svc"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="customBinding" bindingConfiguration="httpCompression"
          name="FlightSeachServices" contract="SMServices.Wcf.FlightSearchCityTravel.IFlightSearchService" bindingName="httpCompression" />
      </service>
    </services>
    <bindings>
      <customBinding>
        <binding name="httpCompression" receiveTimeout="00:03:00" sendTimeout="00:03:00" closeTimeout="00:00:10" openTimeout="00:00:10">
          <binaryMessageEncoding compressionFormat="GZip">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          </binaryMessageEncoding>
          <httpTransport  bypassProxyOnLocal="false" useDefaultWebProxy="true" keepAliveEnabled="true" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647"/>
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>-->
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
