<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QDSearch.Properties.Settings.avalonConnectionString"
            connectionString="Data Source=server.solvex.local;Initial Catalog=avalon;User ID=qdsearch;MultipleActiveResultSets=True;Connect Timeout=60;Application Name=qdsearch2;Password=!123!"
            providerName="System.Data.SqlClient" />
        <add name="QDSearch.Properties.Settings.avalonWebConnectionString"
            connectionString="Data Source=server2.solvex.local;Initial Catalog=avalonWeb;User ID=qdsearch;MultipleActiveResultSets=True;Connect Timeout=60;Application Name=qdsearch2;Password=!123!"
            providerName="System.Data.SqlClient" />
        <add name="QDSearch.Properties.Settings.SftWebPsDbConnectionString"
            connectionString="Data Source=server2.solvex.local;Initial Catalog=SftWebPsDB;User ID=qdsearch;MultipleActiveResultSets=True;Connect Timeout=60;Application Name=qdsearch2;Password=!123!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
