<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sft-test.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sft-test.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>sft-test</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$sft-test</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="avalonWebConnectionString" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=server2.solvex.local;Initial Catalog=avalonWeb;Persist Security Info=True;User ID=qdsearch;Password=!123!;Connect Timeout=60;Application Name=qdseach_dev2" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\avalonWebConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=server2.solvex.local;Initial Catalog=avalonWeb;Persist Security Info=True;User ID=qdsearch;Password=!123!;MultipleActiveResultSets=True; Application Name =qdseach_dev2; Connect Timeout=60" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SftWebPsConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=server2.solvex.local;Initial Catalog=SftWebPsDb;Persist Security Info=True;User ID=qdsearch;Password=!123!;Connect Timeout=60;Application Name=qdseach_dev2" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SftWebPsConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=server2.solvex.local;Initial Catalog=SftWebPsDb;Persist Security Info=True;User ID=qdsearch;Password=!123!;MultipleActiveResultSets=True; Application Name =qdseach_dev2; Connect Timeout=60" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="avalonConnectionString" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=server.solvex.local;Initial Catalog=avalon;Persist Security Info=True;User ID=qdsearch;Password=!123!;Connect Timeout=60;Application Name=qdseach_dev2" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\avalonConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=server.solvex.local;Initial Catalog=avalon;Persist Security Info=True;User ID=qdsearch;Password=!123!;MultipleActiveResultSets=True; Application Name =qdseach_dev2; Connect Timeout=60" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="sftWebConnectionString" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=server2.solvex.local;Initial Catalog=SftWebPsDb;Persist Security Info=True;User ID=qdsearch;Password=!123!;Connect Timeout=60;Application Name=qdseach_dev2" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\sftWebConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=server2.solvex.local;Initial Catalog=SftWebPsDb;Persist Security Info=True;User ID=qdsearch;Password=!123!;MultipleActiveResultSets=True; Application Name =qdseach_dev2; Connect Timeout=60" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)avalonConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)avalonWebConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)sftWebConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SftWebPsConnectionString-Web.config Connection String" />
  </ItemGroup>
</Project>