<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="QDSSection" type="QDSearch.Configuration.QdSearchSection, QDSearch.General, Culture=neutral" />
  </configSections>
  <!-- SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; Добавлена временно до обновления на 20-ый релиз. -->
  <QDSSection useQuotaSearchOnClient="true" mtMainDbConnectionStringName="avalonConnectionString" mtSearchDbConnectionStringName="avalonWebConnectionString" sftWebDbConnectionStringName="sftWebConnectionString" mtMainDbCommandAfterOpenConnection="SET ANSI_WARNINGS ON; SET ARITHABORT ON;" mtSearchDbCommandAfterOpenConnection="SET ANSI_WARNINGS ON; SET ARITHABORT ON; SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;" sftSearchDbCommandAfterOpenConnection="SET ANSI_WARNINGS ON; SET ARITHABORT ON;" HomeCityKey ="227">
    <viewState mode="InMsSql" pageStateDbConnectionStringName="SftWebPsConnectionString" timeout="4"></viewState>
    <tourFilters defaultArrivalRangeDays="0" maxArrivalRangeDays="31" defaultToursNumberOnPage="50" defaultCityFromKey="227" defaultRateCode="рб" />
    <CharterClasses>
      <add name="Эконом" keys="89,93,101,109,87" />
      <add name="Премиум" keys="97" />
      <add name="Бизнес" keys="67,74" />
    </CharterClasses>
    <!-- Настройка включения/выключения кэша делается только здесь -->
    <Cache Enabled="true" LongCacheTimeout="1800" MediumCacheTimeout="600" ShortCacheTimeout="180" />
    <exceptionHandling sendExceptionEmails="false" emailsTo="it@solvex.travel,bone_duke@mail.ru" emailSubject="sft.solvex.travel Fatal Error message:" />
  </QDSSection>
  <connectionStrings>
    <clear />
    <add name="avalonConnectionString" connectionString="Data Source=server.solvex.local;Initial Catalog=avalon;Persist Security Info=True;User ID=qdsearch;Password=!123!;MultipleActiveResultSets=True; Application Name =qdseach3; Connect Timeout=60" providerName="System.Data.SqlClient" />
    <add name="avalonWebConnectionString" connectionString="Data Source=server2.solvex.local;Initial Catalog=avalonWeb;Persist Security Info=True;User ID=qdsearch;Password=!123!;MultipleActiveResultSets=True; Application Name =qdseach3; Connect Timeout=60" providerName="System.Data.SqlClient" />
    <add name="SftWebPsConnectionString" connectionString="Data Source=server2.solvex.local;Initial Catalog=SftWebPsDb;Persist Security Info=True;User ID=qdsearch;Password=!123!;MultipleActiveResultSets=True; Application Name =qdseach3; Connect Timeout=60" providerName="System.Data.SqlClient" />
    <add name="sftWebConnectionString" connectionString="Data Source=server2.solvex.local;Initial Catalog=SftWebPsDb;Persist Security Info=True;User ID=qdsearch;Password=!123!;MultipleActiveResultSets=True; Application Name =qdseach3; Connect Timeout=60" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.net>
    <mailSettings>
      <!-- <smtp deliveryMethod="Network"> -->
      <smtp deliveryMethod="Network" from="web-sft-solvex-travel@solvex.travel">
        <network host="mail.solvex.local" port="25" userName="smtp" password="8964121" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
