<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="QDSSection" type="QDSearch.Configuration.QdSearchSection, QDSearch.General, Culture=neutral" />
  </configSections>
  <!-- SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED; Добавлена временно до обновления на 20-ый релиз. -->
  <QDSSection mtMainDbConnectionStringName="avalonConnectionString" mtSearchDbConnectionStringName="avalonWebConnectionString" sftWebDbConnectionStringName="sftWebConnectionString" mtMainDbCommandAfterOpenConnection="SET ANSI_WARNINGS ON; SET ARITHABORT ON;" mtSearchDbCommandAfterOpenConnection="SET ANSI_WARNINGS ON; SET ARITHABORT ON; SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;" sftSearchDbCommandAfterOpenConnection="SET ANSI_WARNINGS ON; SET ARITHABORT ON;" HomeCityKey="227">
    <viewState mode="InMsSql" pageStateDbConnectionStringName="SftWebPsConnectionString" timeout="4" />
    <tourFilters defaultArrivalRangeDays="0" maxArrivalRangeDays="31" defaultToursNumberOnPage="50" defaultCityFromKey="227" defaultRateCode="рб" />
    <CharterClasses>
      <add name="Эконом" keys="89,93,101,109,87,102,111" />
      <add name="Премиум" keys="97" />
      <add name="Бизнес" keys="67,74" />
    </CharterClasses>
    <!-- Настройка включения/выключения кэша делается только здесь -->
    <Cache Enabled="true" LongCacheTimeout="1800" MediumCacheTimeout="600" ShortCacheTimeout="180" ExpirationMode="Sliding" />
    <exceptionHandling sendExceptionEmails="false" emailsTo="siteerror@solvex.travel,bone_duke@mail.ru" emailSubject="sft.solvex.travel Fatal Error message:" />
  </QDSSection>
  <connectionStrings>
    <clear />
    <add name="avalonConnectionString" connectionString="Data Source=server.solvex.local;Initial Catalog=avalon;Persist Security Info=True;User ID=qdsearch;Password=!123!;MultipleActiveResultSets=True; Application Name =qdseach_dev2; Connect Timeout=60" providerName="System.Data.SqlClient" />
    <add name="avalonWebConnectionString" connectionString="Data Source=server2.solvex.local;Initial Catalog=avalonWeb;Persist Security Info=True;User ID=qdsearch;Password=!123!;MultipleActiveResultSets=True; Application Name =qdseach_dev2; Connect Timeout=60" providerName="System.Data.SqlClient" />
    <add name="SftWebPsConnectionString" connectionString="Data Source=server2.solvex.local;Initial Catalog=SftWebPsDb;Persist Security Info=True;User ID=qdsearch;Password=!123!;MultipleActiveResultSets=True; Application Name =qdseach_dev2; Connect Timeout=60" providerName="System.Data.SqlClient" />
    <add name="sftWebConnectionString" connectionString="Data Source=server2.solvex.local;Initial Catalog=SftWebPsDb;Persist Security Info=True;User ID=qdsearch;Password=!123!;MultipleActiveResultSets=True; Application Name =qdseach_dev2; Connect Timeout=60" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="web-sft-solvex-travel@solvex.travel">
        <network host="mailsrv.solvex.local" port="25" userName="web-sft-solvex-trave" password="df983odif" />
      </smtp>
    </mailSettings>
  </system.net>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <sessionState mode="SQLServer" allowCustomSqlDatabase="true" compressionEnabled="false" timeout="4" sqlCommandTimeout="120" sqlConnectionString="Data Source=server2.solvex.local;Initial Catalog=SftWebSysDB;User ID=qdsearch;Password=!123!;MultipleActiveResultSets=True; Application Name =qdseach_dev" />
    <machineKey validationKey="A6B6D516C5FE11B6F4AF1555C4958F25E5324A020772A1FE28D10D6E899735C3CC8D6F451911BD08E5BA4F8E960E7312600B542792E17922992955E34BDE3212" decryptionKey="136486D231A176409037D397C76D82022103741677B49169" validation="HMACSHA256" decryption="AES" />
    <compilation debug="true" targetFramework="4.5.1">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!-- viewStateEncryptionMode="Never" enableViewStateMac="false необходимо для хранения ViewState в базе данных -->
    <pages viewStateEncryptionMode="Never" enableViewStateMac="false">
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
    </pages>
    <httpRuntime targetFramework="4.5" />
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
    </httpHandlers>
    <caching>
      <sqlCacheDependency enabled="true" pollTime="60000">
        <databases>
          <add name="avalonConnectionString" connectionStringName="avalonConnectionString" />
          <add name="avalonWebConnectionString" connectionStringName="avalonWebConnectionString" />
        </databases>
      </sqlCacheDependency>
    </caching>
    <customErrors>
      <error redirect="http://sft.solvex.travel/error.html" statusCode="404" />
      <error redirect="http://sft.solvex.travel/error.html" statusCode="500" />
    </customErrors>
    <httpModules />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImage_axd" />
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <remove name="Telerik_Web_UI_WebResource_axd" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
      <!-- Необходимо для обработки событий обновления State для StateKeeper -->
      <add verb="*" path="checkstate.skhandler" name="StsStateKeeperHandler" type="QDSearch.ViewState.StsStateKeeperHandler, QDSearch.General, Culture=neutral" />
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
    </handlers>
    <staticContent>
      <!-- Для современных бразеров поддерживающих нормально HTTP 1.1 настройки кеширования задаются тут,
      по умолчанию кеш для сайта отключен и включаетя только там где это необходимо -->
      <clientCache cacheControlMode="DisableCache" cacheControlCustom="must-revalidate, max-age=0" />
    </staticContent>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <appSettings />
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="./iservices/citytravel/FlightSearchServices.svc" service="SMServices.Wcf.FlightSearchCityTravel.FlightSearchService" />
        <add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="./iservices/general/ToursSearchService.svc" service="Seemplexity.Services.Wcf.ToursSearch.ToursSearchService" />
      </serviceActivations>
    </serviceHostingEnvironment>
    <services>
      <service name="SMServices.Wcf.FlightSearchCityTravel.FlightSearchService" behaviorConfiguration="default">
        <endpoint address="tcpsoapzip" binding="customBinding" bindingConfiguration="tcpCompression" contract="SMServices.Wcf.FlightSearchCityTravel.IFlightSearchService" name="FlightSearchServicesTcp" />
        <endpoint address="httpXml" binding="webHttpBinding" bindingConfiguration="httpXml" behaviorConfiguration="httpXml" contract="SMServices.Wcf.FlightSearchCityTravel.IFlightSearchService" name="FlightSearchServicesHttp" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Seemplexity.Services.Wcf.ToursSearch.ToursSearchService" behaviorConfiguration="default">
        <endpoint address="tcpsoapzip" binding="customBinding" bindingConfiguration="tcpCompression" contract="Seemplexity.Services.Wcf.ToursSearch.IToursSearchService" name="ToursSearchServiceTcp" />
        <endpoint address="httpXml" binding="webHttpBinding" bindingConfiguration="httpXml" behaviorConfiguration="httpXml" contract="Seemplexity.Services.Wcf.ToursSearch.IToursSearchService" name="ToursSearchServiceHttp" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="httpXml">
          <security mode="None" />
        </binding>
      </webHttpBinding>
      <customBinding>
        <binding name="tcpCompression" receiveTimeout="00:03:00" sendTimeout="00:03:00" closeTimeout="00:00:10" openTimeout="00:00:10">
          <binaryMessageEncoding compressionFormat="GZip">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          </binaryMessageEncoding>
          <tcpTransport maxBufferPoolSize="2147483647" maxBufferSize="2147483647" listenBacklog="90" transferMode="Buffered" maxReceivedMessageSize="2147483647" />
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="httpXml">
          <webHttpExtendedBehavior automaticFormatSelectionEnabled="false" helpEnabled="true" defaultOutgoingResponseFormat="Xml" />
          <httpCachePolicyBehavior cacheControlMode="DisableCache" cacheControlCustom="max-age=0" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="default">
          <serviceAuthenticationManager authenticationSchemes="None" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="True" httpHelpPageEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="webHttpExtendedBehavior" type="Seemplexity.Services.Wcf.WebHttpExtended.WebHttpExtendedElement, Seemplexity.Services.Wcf.General, Version=1.0.*, Culture=neutral" />
        <add name="httpCachePolicyBehavior" type="Seemplexity.Services.Wcf.HttpCachePolicy.HttpCachePolicyElement, Seemplexity.Services.Wcf.General, Version=1.0.*, Culture=neutral" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
</configuration>