html body {
    font-family: Calibri, Helvetica, Tahoma, Verdana, sans-serif;
    text-align: left;
    background: #f9f6e0;
    padding: 20px;
    margin: 0;
}

.ToursSearchBox {
    -moz-min-width: 950px;
    -ms-min-width: 950px;
    -o-min-width: 950px;
    -webkit-min-width: 950px;
    min-width: 950px;
}

    .ToursSearchBox img {
        border: 0;
    }

    .ToursSearchBox a {
        color: #3366cc;
    }

/**********************  Стили фильтров поиска начало     *************************/

.TourSearchFilter {
    overflow: hidden;
    font-family: Calibri, Helvetica, Tahoma, Verdana, sans-serif;
    font-size: 12px;
    color: #333;
    background: #f3f3f3;
}

    .TourSearchFilter .OptionAllWrapper,
    .TourSearchFilter .OptionsListWrapper,
    .TourSearchFilter .ControlWrapper,
    .TourSearchFilter .TFS_CityFromWrapper {
        overflow: hidden;
    }

    .TourSearchFilter .TFS_FilterWrapper {
        overflow: hidden;
        padding: 10px;
        margin-bottom: 3px;
        background: #fff url("images/1px.gif") repeat-y left;
    }

        .TourSearchFilter .TFS_FilterWrapper:hover {
            background: #fffcf6 url("images/1px.gif") repeat-y left;
        }

    .TourSearchFilter .TFS_FilterTitle,
    .TourSearchFilter .ListTitle {
        font-size: 16px;
        -ms-text-shadow: 0 1px 0 #fff;
        -webkit-text-shadow: 0 1px 0 #fff;
        text-shadow: 0 1px 0 #fff;
        margin-right: 15px;
    }

    .TourSearchFilter .OptionAllWrapper {
        margin-top: 7px;
        padding-bottom: 3px;
        margin-bottom: 2px;
        border-bottom: 1px #dcdcdc solid;
    }

    .TourSearchFilter .TFS_FilterWrapper .OptionAllWrapper > input[type='checkbox'],
    .TourSearchFilter .TFS_FilterWrapper .OptionsListWrapper .OptionsList > input[type='checkbox'] {
        position: relative;
        top: 2px;
    }

    .TourSearchFilter .TFS_FilterWrapper .OptionsListWrapper .OptionsList {
        position: relative;
    }

    .TourSearchFilter .TFS_CountryInfoBlock {
        overflow: hidden;
        position: relative;
        background: #f9f6e0;
    }

        .TourSearchFilter .TFS_CountryInfoBlock .CountryDesc,
        .TourSearchFilter .TFS_CountryInfoBlock .CountryDescTable {
            margin: 0 0 10px 0;
            padding: 0;
            background-color: #FFFFFF;
            border: 1px solid #006699;
            border-top: 0;
            border-bottom: 0;
        }

        .TourSearchFilter .TFS_CountryInfoBlock .CountryDescTable {
            width: 100%;
        }

            .TourSearchFilter .TFS_CountryInfoBlock .CountryDescTable .leftcol {
                border-style: solid;
                border-width: 1px;
                border-color: #006699;
                width: 74%;
                padding: 10px;
                background-color: #FFFFFF;
                vertical-align: top;
            }

            .TourSearchFilter .TFS_CountryInfoBlock .CountryDescTable .mrgtmp {
                width: 0.7%;
                background: #f9f6e0;
                border-bottom: 0;
                border-top: 0;
                border-width: 0;
            }

            .TourSearchFilter .TFS_CountryInfoBlock .CountryDescTable .rightcol {
                border-style: solid;
                border-width: 1px;
                border-color: #006699;
                padding: 10px;
                background-color: #F8F8F8;
                vertical-align: top;
                width: 25.3%;
            }

            .TourSearchFilter .TFS_CountryInfoBlock .CountryDescTable .DescLine {
                margin-top: 7px;
                margin-bottom: 7px;
                border-style: none none dashed none;
                border-bottom-width: 1px;
            }

    .TourSearchFilter .CountryDesc .DescLine {
        margin-top: 7px;
        margin-bottom: 7px;
        border-style: none none dashed none;
        border-bottom-width: 1px;
    }

    .TourSearchFilter .TFS_CityFromWrapper {
        vertical-align: top;
        padding: 9px 10px 13px 10px;
        border-right: 1px solid #dddddd;
        border-bottom: 1px solid #bbbbbb;
        background-color: #ffffff;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fcfcfc', endColorstr = '#dcdcdc');
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fcfcfc', endColorstr = '#dcdcdc')";
        background-image: -moz-linear-gradient(top, #fcfcfc, #dcdcdc);
        background-image: -ms-linear-gradient(top, #fcfcfc, #dcdcdc);
        background-image: -o-linear-gradient(top, #fcfcfc, #dcdcdc);
        background-image: -webkit-gradient(linear, center top, center bottom, from(#fcfcfc), to(#dcdcdc));
        background-image: -webkit-linear-gradient(top, #fcfcfc, #dcdcdc);
        background-image: linear-gradient(top, #fcfcfc, #dcdcdc);
        font-weight: 100;
        overflow: hidden;
    }

        .TourSearchFilter .TFS_CityFromWrapper span {
            -ms-text-shadow: 0 1px 0 #fff;
            -webkit-text-shadow: 0 1px 0 #fff;
            text-shadow: 0 1px 0 #fff;
        }

            .TourSearchFilter .TFS_CityFromWrapper span input {
                position: relative;
                top: 2px;
                cursor: pointer;
            }

            .TourSearchFilter .TFS_CityFromWrapper span label {
                margin-right: 15px;
                font-size: 13px;
                font-weight: bold;
                color: #333;
                cursor: pointer;
            }

                .TourSearchFilter .TFS_CityFromWrapper span label:hover {
                    color: #000;
                }

    .TourSearchFilter .TFS_FirstBlock {
        overflow: hidden;
        width: 100%;
        clear: both;
    }

    .TourSearchFilter .TFS_SecondBlock {
        overflow: hidden;
        width: 20%;
        float: left;
    }

        .TourSearchFilter .TFS_SecondBlock .TFS_ContriesToWrapper .TFS_FilterTitle {
            position: relative;
            display: block;
            float: left;
            margin: 0;
            margin-top: 4px;
            overflow: hidden;
        }

        .TourSearchFilter .TFS_SecondBlock .TFS_ContriesToWrapper div {
            overflow: hidden;
            margin-left: 60px;
        }

        .TourSearchFilter .TFS_SecondBlock .TFS_ContriesToWrapper select {
            width: 100%;
        }

        .TourSearchFilter .TFS_SecondBlock .TFS_TourTypesWrapper .OptionsListWrapper {
            margin-top: 7px;
        }

            .TourSearchFilter .TFS_SecondBlock .TFS_TourTypesWrapper .OptionsListWrapper .OptionsList {
                display: block;
                overflow: auto;
                height: 128px;
                margin: 0;
                padding: 0;
            }

                .TourSearchFilter .TFS_SecondBlock .TFS_TourTypesWrapper .OptionsListWrapper .OptionsList li {
                    display: block;
                    overflow: hidden;
                    margin: 0;
                    padding: 0;
                    cursor: pointer;
                }

                    .TourSearchFilter .TFS_SecondBlock .TFS_TourTypesWrapper .OptionsListWrapper .OptionsList li input {
                        display: inline-block !important;
                        margin: 0 !important;
                        padding: 0 !important;
                        width: 0 !important;
                        height: 0 !important;
                        line-height: 0 !important;
                        overflow: hidden !important;
                        letter-spacing: 0 !important;
                        font-size: 0px !important;
                    }

                    .TourSearchFilter .TFS_SecondBlock .TFS_TourTypesWrapper .OptionsListWrapper .OptionsList li label {
                        display: inline-block;
                        padding: 4px 7px 4px 7px;
                        cursor: pointer;
                    }

                    .TourSearchFilter .TFS_SecondBlock .TFS_TourTypesWrapper .OptionsListWrapper .OptionsList li.OptionChecked,
                    .TourSearchFilter .TFS_SecondBlock .TFS_TourTypesWrapper .OptionsListWrapper .OptionsList li.OptionChecked:hover {
                        background: #0076f6;
                        cursor: default;
                        color: #fff;
                        -ms-text-shadow: 0 1px 0 #002c5c;
                        -webkit-text-shadow: 0 1px 0 #002c5c;
                        text-shadow: 0 1px 0 #002c5c;
                        -webkit-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#0058b6', endColorstr = '#0076f6');
                        -moz-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#0058b6', endColorstr = '#0076f6');
                        -o-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#0058b6', endColorstr = '#0076f6');
                        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#0058b6', endColorstr = '#0076f6')";
                        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#0058b6', endColorstr = '#0076f6');
                        background-image: -moz-linear-gradient(top, #0058b6, #0076f6);
                        background-image: -ms-linear-gradient(top, #0058b6, #0076f6);
                        background-image: -o-linear-gradient(top,#0058b6, #0076f6);
                        background-image: -webkit-gradient(linear, center top, center bottom, from(#0058b6), to(#0076f6));
                        background-image: -webkit-linear-gradient(top,#0058b6, #0076f6);
                        background-image: linear-gradient(top, #0058b6, #0076f6);
                    }



                    .TourSearchFilter .TFS_SecondBlock .TFS_TourTypesWrapper .OptionsListWrapper .OptionsList li:hover {
                        background: #24cf81;
                        color: #fff;
                        -ms-text-shadow: 0 1px 0 #09331e;
                        -webkit-text-shadow: 0 1px 0 #09331e;
                        text-shadow: 0 1px 0 #09331e;
                        -webkit-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#178d52', endColorstr = '#24cf81');
                        -moz-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#178d52', endColorstr = '#24cf81');
                        -o-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#178d52', endColorstr = '#24cf81');
                        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#178d52', endColorstr = '#24cf81')";
                        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#178d52', endColorstr = '#24cf81');
                        background-image: -moz-linear-gradient(top,#178d52, #24cf81);
                        background-image: -ms-linear-gradient(top, #178d52, #24cf81);
                        background-image: -o-linear-gradient(top,#178d52, #24cf81);
                        background-image: -webkit-gradient(linear, center top, center bottom, from(#178d52), to(#24cf81));
                        background-image: -webkit-linear-gradient(top, #178d52, #24cf81);
                        background-image: linear-gradient(top,#178d52, #24cf81);
                    }

        .TourSearchFilter .TFS_SecondBlock .TFS_CitiesToWrapper .OptionsListWrapper .OptionsList {
            display: block;
            height: 272px;
            overflow-y: auto;
        }


    .TourSearchFilter .TFS_RigthWrapper {
        overflow: hidden;
        width: 80%;
        float: left;
    }

        .TourSearchFilter .TFS_RigthWrapper .TFS_ThirdBlock,
        .TourSearchFilter .TFS_RigthWrapper .TFS_ForthBlock,
        .TourSearchFilter .TFS_RigthWrapper .TFS_FifthBlock {
            overflow: hidden;
            margin-left: 3px;
            clear: both;
        }

            .TourSearchFilter .TFS_RigthWrapper .TFS_ThirdBlock .TSF_TourListWrapper .TFS_FilterTitle {
                position: relative;
                display: block;
                float: left;
                margin: 0;
                margin-top: 4px;
                overflow: hidden;
            }

            .TourSearchFilter .TFS_RigthWrapper .TFS_ThirdBlock .TSF_TourListWrapper div {
                margin-left: 91px;
            }

            .TourSearchFilter .TFS_RigthWrapper .TFS_ThirdBlock .TSF_TourListWrapper select {
                width: 100%;
            }

            .TourSearchFilter .TFS_RigthWrapper .TFS_ThirdBlock .ArrivalDatePicker > label,
            .TourSearchFilter .TFS_RigthWrapper .TFS_ThirdBlock .ArrivalDatePicker .AvlbPeriodBlk {
                position: relative;
                font-size: 16px;
                -ms-text-shadow: 0 1px 0 #fff;
                -webkit-text-shadow: 0 1px 0 #fff;
                text-shadow: 0 1px 0 #fff;
                top: 3px;
            }

            .TourSearchFilter .TFS_RigthWrapper .TFS_ThirdBlock .ArrivalDatePicker .AvlbPeriodBlk {
                display: inline;
            }

                .TourSearchFilter .TFS_RigthWrapper .TFS_ThirdBlock .ArrivalDatePicker .AvlbPeriodBlk span {
                    font-weight: bold;
                    color: #555;
                }

            .TourSearchFilter .TFS_RigthWrapper .TFS_ThirdBlock .TFS_NightsWrapper .ControlWrapper {
                clear: both;
                overflow: hidden;
            }

            .TourSearchFilter .TFS_RigthWrapper .TFS_ThirdBlock .TFS_NightsWrapper .ListTitle,
            .TourSearchFilter .TFS_RigthWrapper .TFS_ThirdBlock .TFS_NightsWrapper .OptionAllWrapper,
            .TourSearchFilter .TFS_RigthWrapper .TFS_ThirdBlock .TFS_NightsWrapper .OptionsListWrapper {
                display: block;
                float: left;
            }

            .TourSearchFilter .TFS_RigthWrapper .TFS_ThirdBlock .TFS_NightsWrapper .ListTitle {
                margin: 3px 6px 0 0;
            }

            .TourSearchFilter .TFS_RigthWrapper .TFS_ThirdBlock .TFS_NightsWrapper .OptionAllWrapper {
                border: 0;
                margin: 0 10px 0 0;
                cursor: pointer;
            }

                .TourSearchFilter .TFS_RigthWrapper .TFS_ThirdBlock .TFS_NightsWrapper .OptionAllWrapper input {
                    position: relative;
                    top: 2px;
                    cursor: pointer;
                }

            .TourSearchFilter .TFS_RigthWrapper .TFS_ThirdBlock .TFS_NightsWrapper .OptionsListWrapper {
                margin-top: 2px;
            }

                .TourSearchFilter .TFS_RigthWrapper .TFS_ThirdBlock .TFS_NightsWrapper .OptionsListWrapper .OptionsList {
                    display: block;
                    overflow: hidden;
                    clear: both;
                }

                    .TourSearchFilter .TFS_RigthWrapper .TFS_ThirdBlock .TFS_NightsWrapper .OptionsListWrapper .OptionsList input {
                        display: inline-block !important;
                        margin: 0 !important;
                        padding: 0 !important;
                        width: 0 !important;
                        height: 0 !important;
                        line-height: 0 !important;
                        overflow: hidden !important;
                        letter-spacing: 0 !important;
                        font-size: 0px !important;
                    }


                    .TourSearchFilter .TFS_RigthWrapper .TFS_ThirdBlock .TFS_NightsWrapper .OptionsListWrapper .OptionsList label {
                        border-spacing: 0;
                        border-collapse: collapse;
                        display: block;
                        overflow: hidden;
                        float: left;
                        width: 20px;
                        height: 15px;
                        text-align: center;
                        padding-top: 4px;
                        cursor: pointer;
                        border: 1px solid #ccc;
                        border-right: none;
                        font-size: 11px;
                        -ms-text-shadow: 0 1px 0 #ffffff;
                        -webkit-text-shadow: 0 1px 0 #ffffff;
                        text-shadow: 0 1px 0 #ffffff;
                        background: #efefef;
                        -webkit-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#dedede');
                        -moz-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#dedede');
                        -o-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#dedede');
                        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#dedede')";
                        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#dedede');
                        background-image: -moz-linear-gradient(top, #ffffff, #dedede);
                        background-image: -ms-linear-gradient(top, #ffffff, #dedede);
                        background-image: -o-linear-gradient(top, #ffffff, #dedede);
                        background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#dedede));
                        background-image: -webkit-linear-gradient(top, #ffffff, #dedede);
                        background-image: linear-gradient(top, #ffffff, #dedede);
                    }

                        .TourSearchFilter .TFS_RigthWrapper .TFS_ThirdBlock .TFS_NightsWrapper .OptionsListWrapper .OptionsList label.LastOption {
                            border-right: 1px solid #ccc;
                            -ms-border-top-right-radius: 3px;
                            border-top-right-radius: 3px;
                            -ms-border-bottom-right-radius: 3px;
                            border-bottom-right-radius: 3px;
                        }

                        .TourSearchFilter .TFS_RigthWrapper .TFS_ThirdBlock .TFS_NightsWrapper .OptionsListWrapper .OptionsList label.FirstOption {
                            border-left: 1px solid #ccc;
                            -ms-border-top-left-radius: 3px;
                            border-top-left-radius: 3px;
                            -ms-border-bottom-left-radius: 3px;
                            border-bottom-left-radius: 3px;
                        }

                        .TourSearchFilter .TFS_RigthWrapper .TFS_ThirdBlock .TFS_NightsWrapper .OptionsListWrapper .OptionsList label.OptionChecked {
                            border: 1px solid #004794;
                            width: 19px;
                            background: #0076f6;
                            color: #fff;
                            cursor: pointer;
                            -ms-text-shadow: 0 1px 0 #002c5c;
                            -webkit-text-shadow: 0 1px 0 #002c5c;
                            text-shadow: 0 1px 0 #002c5c;
                            -webkit-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#0058b6', endColorstr = '#0076f6');
                            -moz-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#0058b6', endColorstr = '#0076f6');
                            -o-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#0058b6', endColorstr = '#0076f6');
                            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#0058b6', endColorstr = '#0076f6')";
                            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#0058b6', endColorstr = '#0076f6');
                            background-image: -moz-linear-gradient(top, #0058b6, #0076f6);
                            background-image: -ms-linear-gradient(top, #0058b6, #0076f6);
                            background-image: -o-linear-gradient(top,#0058b6, #0076f6);
                            background-image: -webkit-gradient(linear, center top, center bottom, from(#0058b6), to(#0076f6));
                            background-image: -webkit-linear-gradient(top,#0058b6, #0076f6);
                            background-image: linear-gradient(top, #0058b6, #0076f6);
                        }

                            .TourSearchFilter .TFS_RigthWrapper .TFS_ThirdBlock .TFS_NightsWrapper .OptionsListWrapper .OptionsList label.OptionChecked.LastOption {
                                border: 1px solid #004794;
                                width: 20px;
                            }

                            .TourSearchFilter .TFS_RigthWrapper .TFS_ThirdBlock .TFS_NightsWrapper .OptionsListWrapper .OptionsList label:hover,
                            .TourSearchFilter .TFS_RigthWrapper .TFS_ThirdBlock .TFS_NightsWrapper .OptionsListWrapper .OptionsList label.OptionChecked:hover {
                                border: 1px solid #127041;
                                width: 19px;
                                background: #178d52;
                                color: #fff;
                                cursor: pointer;
                                -ms-text-shadow: 0 1px 0 #09331e;
                                -webkit-text-shadow: 0 1px 0 #09331e;
                                text-shadow: 0 1px 0 #09331e;
                                -webkit-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#178d52', endColorstr = '#24cf81');
                                -moz-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#178d52', endColorstr = '#24cf81');
                                -o-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#178d52', endColorstr = '#24cf81');
                                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#178d52', endColorstr = '#24cf81')";
                                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#178d52', endColorstr = '#24cf81');
                                background-image: -moz-linear-gradient(top,#178d52, #24cf81);
                                background-image: -ms-linear-gradient(top, #178d52, #24cf81);
                                background-image: -o-linear-gradient(top,#178d52, #24cf81);
                                background-image: -webkit-gradient(linear, center top, center bottom, from(#178d52), to(#24cf81));
                                background-image: -webkit-linear-gradient(top, #178d52, #24cf81);
                                background-image: linear-gradient(top,#178d52, #24cf81);
                            }

                        .TourSearchFilter .TFS_RigthWrapper .TFS_ThirdBlock .TFS_NightsWrapper .OptionsListWrapper .OptionsList label.LastOption:hover,
                        .TourSearchFilter .TFS_RigthWrapper .TFS_ThirdBlock .TFS_NightsWrapper .OptionsListWrapper .OptionsList input.OptionChecked.LastOption:hover {
                            border: 1px solid #127041;
                            width: 20px;
                        }

            .TourSearchFilter .TFS_RigthWrapper .TFS_ForthBlock .TFS_HotelCtgWrapper .OptionsListWrapper,
            .TourSearchFilter .TFS_RigthWrapper .TFS_ForthBlock .TFS_PansionsWrapper .OptionsListWrapper,
            .TourSearchFilter .TFS_RigthWrapper .TFS_ForthBlock .TFS_HotelsWrapper .OptionsListWrapper {
                overflow: hidden;
            }

                .TourSearchFilter .TFS_RigthWrapper .TFS_ForthBlock .TFS_HotelCtgWrapper .OptionsListWrapper .OptionsList,
                .TourSearchFilter .TFS_RigthWrapper .TFS_ForthBlock .TFS_PansionsWrapper .OptionsListWrapper .OptionsList,
                .TourSearchFilter .TFS_RigthWrapper .TFS_ForthBlock .TFS_HotelsWrapper .OptionsListWrapper .OptionsList {
                    display: block;
                    height: 251px;
                    overflow-y: auto;
                }

            .TourSearchFilter .TFS_RigthWrapper .TFS_ForthBlock .TFS_FilterWrapper {
                float: left;
                padding: 0;
            }

                .TourSearchFilter .TFS_RigthWrapper .TFS_ForthBlock .TFS_FilterWrapper > div {
                    padding: 10px;
                }

            .TourSearchFilter .TFS_RigthWrapper .TFS_ForthBlock .TFS_HotelCtgWrapper,
            .TourSearchFilter .TFS_RigthWrapper .TFS_ForthBlock .TFS_PansionsWrapper {
                width: 25%;
            }


            .TourSearchFilter .TFS_RigthWrapper .TFS_ForthBlock .TFS_HotelsWrapper {
                width: 50%;
            }

            .TourSearchFilter .TFS_RigthWrapper .TFS_FifthBlock .TFS_FilterWrapper {
                float: left;
                padding: 0;
            }

            .TourSearchFilter .TFS_RigthWrapper .TFS_FifthBlock .TFS_MenRoomsQuotasWrapper,
            .TourSearchFilter .TFS_RigthWrapper .TFS_FifthBlock .TFS_MenRoomsQuotasWrapper .TFS_PersonsWrapper,
            .TourSearchFilter .TFS_RigthWrapper .TFS_FifthBlock .TFS_RoomPersonsWrapper .TFS_RoomsWrapper {
                overflow: hidden;
            }

            .TourSearchFilter .TFS_RigthWrapper .TFS_FifthBlock .TFS_MenRoomsQuotasWrapper {
                height: 101px;
            }


                .TourSearchFilter .TFS_RigthWrapper .TFS_FifthBlock .TFS_MenRoomsQuotasWrapper .TFS_RoomPersonsWrapper {
                    padding: 0;
                    margin: 0;
                    width: 50%;
                    height: 100%;
                }

                    .TourSearchFilter .TFS_RigthWrapper .TFS_FifthBlock .TFS_MenRoomsQuotasWrapper .TFS_RoomPersonsWrapper .TFS_PersonsWrapper,
                    .TourSearchFilter .TFS_RigthWrapper .TFS_FifthBlock .TFS_MenRoomsQuotasWrapper .TFS_RoomPersonsWrapper .TFS_RoomsWrapper {
                        padding: 10px;
                    }

                        .TourSearchFilter .TFS_RigthWrapper .TFS_FifthBlock .TFS_MenRoomsQuotasWrapper .TFS_RoomPersonsWrapper .TFS_PersonsWrapper .TFS_FilterTitle {
                            display: block;
                            margin-bottom: 5px;
                        }

                        .TourSearchFilter .TFS_RigthWrapper .TFS_FifthBlock .TFS_MenRoomsQuotasWrapper .TFS_RoomPersonsWrapper .TFS_PersonsWrapper input {
                            width: 50px;
                            margin: 0 0 5px 0;
                        }

                        .TourSearchFilter .TFS_RigthWrapper .TFS_FifthBlock .TFS_MenRoomsQuotasWrapper .TFS_RoomPersonsWrapper .TFS_PersonsWrapper .TFS_PersonsLeft {
                            overflow: hidden;
                            float: left;
                        }

                        .TourSearchFilter .TFS_RigthWrapper .TFS_FifthBlock .TFS_MenRoomsQuotasWrapper .TFS_RoomPersonsWrapper .TFS_PersonsWrapper .TFS_ExtraChildrenWrapper {
                            overflow: hidden;
                            float: left;
                            padding: 0 0 0 15px;
                        }

                .TourSearchFilter .TFS_RigthWrapper .TFS_FifthBlock .TFS_MenRoomsQuotasWrapper .TFS_QuotasWrapper {
                    width: 25%;
                    padding: 0;
                    margin: 0;
                }

                    .TourSearchFilter .TFS_RigthWrapper .TFS_FifthBlock .TFS_MenRoomsQuotasWrapper .TFS_QuotasWrapper > div {
                        overflow: hidden;
                        padding: 10px;
                    }

                    .TourSearchFilter .TFS_RigthWrapper .TFS_FifthBlock .TFS_MenRoomsQuotasWrapper .TFS_QuotasWrapper .TFS_QuotesTbl {
                        margin: 0;
                        padding: 0;
                        text-align: center;
                        border-spacing: 0;
                        border-collapse: collapse;
                    }

                        .TourSearchFilter .TFS_RigthWrapper .TFS_FifthBlock .TFS_MenRoomsQuotasWrapper .TFS_QuotasWrapper .TFS_QuotesTbl td {
                            width: 22px;
                            height: 21px;
                            padding: 0;
                            margin: 0;
                        }

                    .TourSearchFilter .TFS_RigthWrapper .TFS_FifthBlock .TFS_MenRoomsQuotasWrapper .TFS_QuotasWrapper .TFS_QuotasCaption {
                        color: #0066ff;
                        font-weight: bold;
                    }

                    .TourSearchFilter .TFS_RigthWrapper .TFS_FifthBlock .TFS_MenRoomsQuotasWrapper .TFS_QuotasWrapper .QValEnabled {
                        background-color: #008900;
                        border-right: 1px solid #ffffff;
                        border-bottom: 1px solid #ffffff;
                    }

                    .TourSearchFilter .TFS_RigthWrapper .TFS_FifthBlock .TFS_MenRoomsQuotasWrapper .TFS_QuotasWrapper .QValRQ {
                        background-color: #f47d00;
                        border-right: 1px solid #ffffff;
                        border-bottom: 1px solid #ffffff;
                    }

                    .TourSearchFilter .TFS_RigthWrapper .TFS_FifthBlock .TFS_MenRoomsQuotasWrapper .TFS_QuotasWrapper .QValNo {
                        background-color: #d73a39;
                        border-bottom: 1px solid #ffffff;
                    }

                    .TourSearchFilter .TFS_RigthWrapper .TFS_FifthBlock .TFS_MenRoomsQuotasWrapper .TFS_QuotasWrapper .TFS_HotelsQuotesImgCell {
                        width: 19px;
                        height: 19px;
                        background-image: url(images/hotel.gif);
                        background-repeat: no-repeat;
                        background-position: center;
                    }

                    .TourSearchFilter .TFS_RigthWrapper .TFS_FifthBlock .TFS_MenRoomsQuotasWrapper .TFS_QuotasWrapper .TFS_FlightQuotesImgCell {
                        width: 19px;
                        height: 19px;
                        background-image: url(images/airplane.gif);
                        background-repeat: no-repeat;
                        background-position: center;
                    }

            .TourSearchFilter .TFS_RigthWrapper .TFS_FifthBlock .TFS_MoneyWrapper {
                width: 25%;
                padding: 0;
                margin: 0;
                height: 100%;
            }

                .TourSearchFilter .TFS_RigthWrapper .TFS_FifthBlock .TFS_MoneyWrapper .TFS_MaxPriceWrapper input {
                    width: 140px;
                }

                .TourSearchFilter .TFS_RigthWrapper .TFS_FifthBlock .TFS_MoneyWrapper > div {
                    padding: 10px;
                    overflow: hidden;
                }

                .TourSearchFilter .TFS_RigthWrapper .TFS_FifthBlock .TFS_MoneyWrapper .TFS_RatesWrapper,
                .TourSearchFilter .TFS_RigthWrapper .TFS_FifthBlock .TFS_MoneyWrapper .TFS_MaxPriceWrapper {
                    float: none;
                    background: none;
                }

        .TourSearchFilter .TFS_RigthWrapper .TFS_SixthBlock {
            float: right;
            clear: both;
            width: 50%;
            overflow: hidden;
        }

            .TourSearchFilter .TFS_RigthWrapper .TFS_SixthBlock .TFS_RowsNumberWrapper {
                width: 50%;
                float: left;
                overflow: hidden;
                padding: 17px 0 15px 0;
            }

                .TourSearchFilter .TFS_RigthWrapper .TFS_SixthBlock .TFS_RowsNumberWrapper .TFS_FilterTitle {
                    margin: 0 7px 0 11px;
                    font-size: 14px;
                }

                .TourSearchFilter .TFS_RigthWrapper .TFS_SixthBlock .TFS_RowsNumberWrapper select {
                    margin: 0;
                    padding: 0;
                }

            .TourSearchFilter .TFS_RigthWrapper .TFS_SixthBlock .TFS_SearchBtnWrapper {
                float: left;
                width: 50%;
                text-align: center;
            }

                .TourSearchFilter .TFS_RigthWrapper .TFS_SixthBlock .TFS_SearchBtnWrapper input {
                    display: inline-block;
                    overflow: hidden;
                    padding: 0;
                    margin: 10px 0 0 0;
                    border: 1px solid #004794;
                    -ms-border-radius: 3px;
                    border-radius: 3px;
                    background: #0076f6;
                    color: #fff;
                    cursor: default;
                    -ms-text-shadow: 0 1px 0 #002c5c;
                    -webkit-text-shadow: 0 1px 0 #002c5c;
                    text-shadow: 0 1px 0 #002c5c;
                    -webkit-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#0076f6', endColorstr = '#0058b6');
                    -moz-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#0076f6', endColorstr = '#0058b6');
                    -o-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#0076f6', endColorstr = '#0058b6');
                    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#0076f6', endColorstr = '#0058b6')";
                    background-image: -moz-linear-gradient(top, #0076f6, #0058b6);
                    background-image: -ms-linear-gradient(top, #0076f6, #0058b6);
                    background-image: -o-linear-gradient(top, #0076f6, #0058b6);
                    background-image: -webkit-gradient(linear, center top, center bottom, from(#0076f6), to(#0058b6));
                    background-image: -webkit-linear-gradient(top, #0076f6, #0058b6);
                    background-image: linear-gradient(top, #0076f6, #0058b6);
                    width: 90%;
                    height: 32px;
                    -moz-box-shadow: 0px 2px 1px #75b7ff;
                    -webkit-box-shadow: 0px 2px 1px #75b7ff;
                    -ms-box-shadow: 0px 2px 1px #75b7ff;
                    box-shadow: 0px 2px 1px #75b7ff;
                    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 2, Direction = 180, Color = '#75b7ff')";
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#0076f6', endColorstr = '#0058b6');
                    filter: progid:DXImageTransform.Microsoft.Shadow(strength = 2, direction = 180, color = '#75b7ff');
                }

                    .TourSearchFilter .TFS_RigthWrapper .TFS_SixthBlock .TFS_SearchBtnWrapper input:hover {
                        border: 1px solid #127041;
                        -ms-text-shadow: 0 1px 0 #09331e;
                        -webkit-text-shadow: 0 1px 0 #09331e;
                        text-shadow: 0 1px 0 #09331e;
                        -webkit-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#24cf81', endColorstr = '#178d52');
                        -moz-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#24cf81', endColorstr = '#178d52');
                        -o-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#24cf81', endColorstr = '#178d52');
                        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#24cf81', endColorstr = '#178d52')";
                        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#24cf81', endColorstr = '#178d52');
                        background-image: -moz-linear-gradient(top, #24cf81, #178d52);
                        background-image: -ms-linear-gradient(top, #24cf81, #178d52);
                        background-image: -o-linear-gradient(top, #24cf81, #178d52);
                        background-image: -webkit-gradient(linear, center top, center bottom, from(#66cc99), to(#178d52));
                        background-image: -webkit-linear-gradient(top, #24cf81, #178d52);
                        background-image: linear-gradient(top, #24cf81, #178d52);
                        -moz-box-shadow: 0px 2px 1px #24cf81;
                        -webkit-box-shadow: 0px 2px 1px #24cf81;
                        -ms-box-shadow: 0px 2px 1px #24cf81;
                        box-shadow: 0px 2px 1px #24cf81;
                        -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 2, Direction = 180, Color = '#24cf81')";
                        filter: progid:DXImageTransform.Microsoft.Shadow(strength = 2, direction = 180, color = '#24cf81');
                    }

/********** настройка стилей отображения конец  *****/

/**********************  Стили результатов поиска начало     *************************/

.TFS_SeachedToursTable {
    font-size: 12px;
    background: #ffffff;
    border: 1px solid #dddddd;
    width: 100%;
}

    .TFS_SeachedToursTable td {
        vertical-align: top;
        padding: 6px 8px;
    }



    .TFS_SeachedToursTable th {
        vertical-align: top;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        padding: 4px 5px;
        border-right: 1px solid #dddddd;
        border-bottom: 1px solid #bbbbbb;
        background-color: #ffffff;
        /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fcfcfc', endColorstr = '#dcdcdc');
        /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
        /*Element must have a height (not auto)*/
        /*All filters must be placed together*/
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fcfcfc', endColorstr = '#dcdcdc')";
        /*Element must have a height (not auto)*/
        /*All filters must be placed together*/
        background-image: -moz-linear-gradient(top, #fcfcfc, #dcdcdc);
        background-image: -ms-linear-gradient(top, #fcfcfc, #dcdcdc);
        background-image: -o-linear-gradient(top, #fcfcfc, #dcdcdc);
        background-image: -webkit-gradient(linear, center top, center bottom, from(#fcfcfc), to(#dcdcdc));
        background-image: -webkit-linear-gradient(top, #fcfcfc, #dcdcdc);
        background-image: linear-gradient(top, #fcfcfc, #dcdcdc);
        /*--IE9 DOES NOT SUPPORT CSS3 GRADIENT BACKGROUNDS--*/
    }

        .TFS_SeachedToursTable th.TFS_Sortable:hover {
            background-color: #ffffff;
            /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#f0f0f0');
            /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
            /*Element must have a height (not auto)*/
            /*All filters must be placed together*/
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#f0f0f0')";
            /*Element must have a height (not auto)*/
            /*All filters must be placed together*/
            background-image: -moz-linear-gradient(top, #ffffff, #f0f0f0);
            background-image: -ms-linear-gradient(top, #ffffff, #f0f0f0);
            background-image: -o-linear-gradient(top, #ffffff, #f0f0f0);
            background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#f0f0f0));
            background-image: -webkit-linear-gradient(top, #ffffff, #f0f0f0);
            background-image: linear-gradient(top, #ffffff, #f0f0f0);
            /*--IE9 DOES NOT SUPPORT CSS3 GRADIENT BACKGROUNDS--*/
            cursor: pointer;
        }

            .TFS_SeachedToursTable th.TFS_Sortable:hover a span {
                color: #777;
                border-bottom: 1px dotted #ccc;
                -webkit-text-shadow: 0 1px 0 #fff;
                -ms-text-shadow: 0 1px 0 #fff;
                text-shadow: 0 1px 0 #fff;
            }

    .TFS_SeachedToursTable thead,
    .TFS_SeachedToursTable th {
        text-align: center;
    }

    .TFS_SeachedToursTable .TFS_SubHeaderCell {
        border: 0;
        border-right: 1px solid #ffffff;
        border-bottom: 1px solid #bbbbbb;
    }

    .TFS_SeachedToursTable .TFS_HeaderLastCell {
        border: 0;
    }

    .TFS_SeachedToursTable .TFS_SubHeaderLastCell {
        border: 0;
        border-bottom: 1px solid #bbbbbb;
    }

    .TFS_SeachedToursTable .TFS_TAltRow {
        background: #f3f3f3;
    }

    .TFS_SeachedToursTable a,
    .TFS_PagerBlockTop a,
    .TFS_PagerBlockButtom a {
        text-decoration: none;
    }

    .TFS_SeachedToursTable th a {
        display: block;
        padding-left: 9px;
        background: url(images/sort-arrow.png)no-repeat top left;
        background-position: 0 5px;
        text-decoration: none;
        color: #333;
        font-size: 13px;
    }

        .TFS_SeachedToursTable th a span {
            border-bottom: 1px dotted #ccc;
            -webkit-text-shadow: 0 1px 0 #fff;
            -ms-text-shadow: 0 1px 0 #fff;
            text-shadow: 0 1px 0 #fff;
        }

    .TFS_SeachedToursTable th.SortedUp {
        background-color: #dcdcdc;
        /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#dcdcdc', endColorstr = '#fcfcfc');
        /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
        /*Element must have a height (not auto)*/
        /*All filters must be placed together*/
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#dcdcdc', endColorstr = '#fcfcfc')";
        /*Element must have a height (not auto)*/
        /*All filters must be placed together*/
        background-image: -moz-linear-gradient(top, #dcdcdc, #fcfcfc);
        background-image: -ms-linear-gradient(top, #dcdcdc, #fcfcfc);
        background-image: -o-linear-gradient(top, #dcdcdc, #fcfcfc);
        background-image: -webkit-gradient(linear, center top, center bottom, from(#dcdcdc), to(#fcfcfc));
        background-image: -webkit-linear-gradient(top, #dcdcdc, #fcfcfc);
        background-image: linear-gradient(top, #dcdcdc, #fcfcfc);
        /*--IE9 DOES NOT SUPPORT CSS3 GRADIENT BACKGROUNDS--*/
    }

        .TFS_SeachedToursTable th.SortedUp a {
            color: #777;
        }

            .TFS_SeachedToursTable th.SortedUp a span {
                border-bottom: 1px dotted #ccc;
                -webkit-text-shadow: 0 1px 0 #fff;
                -ms-text-shadow: 0 1px 0 #fff;
                text-shadow: 0 1px 0 #fff;
            }

.TFS_PagerBlockTop .TFS_PagerBtnPrev,
.TFS_PagerBlockTop .TFS_PagerBtnNext,
.TFS_PagerBlockTop .TFS_PagerItem,
.TFS_PagerBlockButtom .TFS_PagerBtnPrev,
.TFS_PagerBlockButtom .TFS_PagerBtnNext,
.TFS_PagerBlockButtom .TFS_PagerItem {
    display: block;
    background: #ffffff;
    float: left;
    padding: 4px 8px;
    margin-right: 5px;
    cursor: pointer;
    border: 1px solid #dddddd;
    border-bottom: 1px solid #bbbbbb;
    color: #3366cc;
    -webkit-text-shadow: 0 1px 0 #fff;
    -ms-text-shadow: 0 1px 0 #fff;
    text-shadow: 0 1px 0 #fff;
}

.TFS_PagerBlockTop a.TFS_PagerBtnPrev:hover,
.TFS_PagerBlockTop a.TFS_PagerBtnNext:hover,
.TFS_PagerBlockTop a.TFS_PagerItem:hover,
.TFS_PagerBlockButtom a.TFS_PagerBtnPrev:hover,
.TFS_PagerBlockButtom a.TFS_PagerBtnNext:hover,
.TFS_PagerBlockButtom a.TFS_PagerItem:hover {
    background: #ffffff;
    color: #cc0000;
    /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fcfcfc', endColorstr = '#dcdcdc');
    /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
    /*Element must have a height (not auto)*/
    /*All filters must be placed together*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fcfcfc', endColorstr = '#dcdcdc')";
    /*Element must have a height (not auto)*/
    /*All filters must be placed together*/
    background-image: -moz-linear-gradient(top, #fcfcfc, #dcdcdc);
    background-image: -ms-linear-gradient(top, #fcfcfc, #dcdcdc);
    background-image: -o-linear-gradient(top, #fcfcfc, #dcdcdc);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#fcfcfc), to(#dcdcdc));
    background-image: -webkit-linear-gradient(top, #fcfcfc, #dcdcdc);
    background-image: linear-gradient(top, #fcfcfc, #dcdcdc);
    /*--IE9 DOES NOT SUPPORT CSS3 GRADIENT BACKGROUNDS--*/
}

.TFS_PagerBlockTop .TFS_PagerItemSelected,
.TFS_PagerBlockButtom .TFS_PagerItemSelected {
    background: #f9f6e0;
    border-color: #dddddd;
    color: #666666;
}

.TFS_PagerBlockTop,
.TFS_PagerBlockButtom {
    display: block;
    clear: both;
    margin: 15px 0;
    height: 35px;
}

.TFS_SeachedToursTable tbody .TFS_HotelQuota,
.TFS_SeachedToursTable tbody .TFS_FlightQouta {
    text-align: center;
    vertical-align: middle;
}

.TFS_SeachedToursTable tbody .TFS_Hq_Availiable,
.TFS_SeachedToursTable tbody .TFS_FqTo_Availiable,
.TFS_SeachedToursTable tbody .TFS_FqForward_Availiable {
    background: #009900;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#009900', endColorstr = '#007a00');
    /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
    /*Element must have a height (not auto)*/
    /*All filters must be placed together*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#009900', endColorstr = '#007a00')";
    /*Element must have a height (not auto)*/
    /*All filters must be placed together*/
    background-image: -moz-linear-gradient(top, #009900, #007a00);
    background-image: -ms-linear-gradient(top, #009900, #007a00);
    background-image: -o-linear-gradient(top, #009900, #007a00);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#009900), to(#007a00));
    background-image: -webkit-linear-gradient(top, #009900, #007a00);
    background-image: linear-gradient(top, #009900, #007a00);
    /*--IE9 DOES NOT SUPPORT CSS3 GRADIENT BACKGROUNDS--*/
}

.TFS_SeachedToursTable tbody .TFS_Hq_Small,
.TFS_SeachedToursTable tbody .TFS_FqTo_Small,
.TFS_SeachedToursTable tbody .TFS_FqForward_Small {
    background: #009900;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#66cc99', endColorstr = '#52a47b');
    /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
    /*Element must have a height (not auto)*/
    /*All filters must be placed together*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#66cc99', endColorstr = '#52a47b')";
    /*Element must have a height (not auto)*/
    /*All filters must be placed together*/
    background-image: -moz-linear-gradient(top, #66cc99, #52a47b);
    background-image: -ms-linear-gradient(top, #66cc99, #52a47b);
    background-image: -o-linear-gradient(top, #66cc99, #52a47b);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#66cc99), to(#52a47b));
    background-image: -webkit-linear-gradient(top, #66cc99, #52a47b);
    background-image: linear-gradient(top, #66cc99, #52a47b);
    /*--IE9 DOES NOT SUPPORT CSS3 GRADIENT BACKGROUNDS--*/
}

.TFS_SeachedToursTable tbody .TFS_Hq_No,
.TFS_SeachedToursTable tbody .TFS_FqTo_No,
.TFS_SeachedToursTable tbody .TFS_FqForward_No {
    background: #e43d3c;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#e43d3c', endColorstr = '#b63130');
    /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
    /*Element must have a height (not auto)*/
    /*All filters must be placed together*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#e43d3c', endColorstr = '#b63130')";
    /*Element must have a height (not auto)*/
    /*All filters must be placed together*/
    background-image: -moz-linear-gradient(top, #e43d3c, #b63130);
    background-image: -ms-linear-gradient(top, #e43d3c, #b63130);
    background-image: -o-linear-gradient(top, #e43d3c, #b63130);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#e43d3c), to(#b63130));
    background-image: -webkit-linear-gradient(top, #e43d3c, #b63130);
    background-image: linear-gradient(top, #e43d3c, #b63130);
    /*--IE9 DOES NOT SUPPORT CSS3 GRADIENT BACKGROUNDS--*/
}

.TFS_SeachedToursTable tbody .TFS_Hq_Request,
.TFS_SeachedToursTable tbody .TFS_FqTo_Request,
.TFS_SeachedToursTable tbody .TFS_FqForward_Request {
    background: #ff9900;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ff8300', endColorstr = '#cc6900');
    /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
    /*Element must have a height (not auto)*/
    /*All filters must be placed together*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ff8300', endColorstr = '#cc6900')";
    /*Element must have a height (not auto)*/
    /*All filters must be placed together*/
    background-image: -moz-linear-gradient(top, #ff8300, #cc6900);
    background-image: -ms-linear-gradient(top, #ff8300, #cc6900);
    background-image: -o-linear-gradient(top, #ff8300, #cc6900);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#ff8300), to(#cc6900));
    background-image: -webkit-linear-gradient(top, #ff8300, #cc6900);
    background-image: linear-gradient(top, #ff8300, #cc6900);
    /*--IE9 DOES NOT SUPPORT CSS3 GRADIENT BACKGROUNDS--*/
}

.TFS_SeachedToursTable tbody tr:hover {
    background: #e9f3ff;
    -ms-opacity: 0.95;
    opacity: 0.95;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 80);
    /*-ms-filter must come before filter*/
    filter: alpha(opacity = 80);
    /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
    /*All filters must be placed together*/
    -moz-box-shadow: 0 0 1px #99ccff;
    -webkit-box-shadow: 0 0 1px #99ccff;
    -ms-box-shadow: 0 0 1px #99ccff;
    box-shadow: 0 0 1px #99ccff;
}

.TFS_SeachedToursTable tbody td .HotelName {
    font-weight: bold;
    font-size: 13px;
}

.TFS_SeachedToursTable tbody td a.HotelName {
    text-decoration: underline;
}

.TFS_SeachedToursTable tbody td span.HotelName {
    color: #333;
}

.TFS_SeachedToursTable tbody .CellPrice .BasketBtn {
    border: 0;
    display: block;
    margin: 8px 0;
}

.TFS_SeachedToursTable tbody .CellPrice a {
    display: block;
    margin-top: -5px;
    color: #000;
}

.TFS_SeachedToursTable tbody .CellPrice .Price {
    font-size: 16px;
    color: #339800;
    font-weight: bold;
}

.TFS_SeachedToursTable tbody td .TourName {
    display: block;
    font-size: 12px;
    margin-top: -3px;
    margin-bottom: 8px;
}

.TFS_SeachedToursTable tbody td a.TourName {
    text-decoration: underline;
}

.TFS_SeachedToursTable tbody td .TourInfoImg {
    cursor: pointer;
    border: 0;
    display: block;
    float: left;
    margin-right: 5px;
    width: 20px;
}

.TFS_SeachedToursTable tbody td .AllPricesLnk {
    border: 0;
    display: block;
    float: right;
}

    .TFS_SeachedToursTable tbody td .AllPricesLnk span {
        display: block;
        float: right;
        margin: 3px 5px 0;
        color: #cc3366;
        text-decoration: underline;
    }
/**********************  Стили результатов поиска конец     *************************/
